<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="tipe.elecquizz">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:fullBackupContent="@xml/backup_descriptor">
        <activity
            android:name=".Home"
            android:resizeableActivity="false"
            android:screenOrientation="portrait"
            tools:targetApi="n">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Selection"
            android:resizeableActivity="false"
            android:screenOrientation="portrait"
            tools:targetApi="n" />
        <activity
            android:name=".Level"
            android:resizeableActivity="false"
            android:screenOrientation="portrait"
            tools:targetApi="n" />
    </application>

</manifest>